<div class="sc-header">

    <a href="/"><h1 class="title">{{@blog.title}}</h1></a>
    <h2 class="description">{{@blog.description}}</h2>

    <div class="sc-header-right">
        <a href="/" class="top-menu-link top-menu-link-sm">SC</a>
        <a href="/about" class="top-menu-link">About</a>
        <a href="/submit-article" class="top-menu-link">Submit Article</a>
        <a class="top-menu-icon" href="https://twitter.com/SocialCatalyst1" target="_blank">
            <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a class="top-menu-icon" href="https://www.facebook.com/wearesocialcatalysts" target="_blank">
            <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a class="top-menu-icon" href="https://www.youtube.com/channel/UCbB3HpIATXC3Jw9RRGMJ0gg" target="_blank">
            <i class="fa fa-youtube-square fa-2x"></i>
        </a>
    </div>
</div>
