.top-menu-link-sm {
    display: none;
}

@media only screen and (max-width: 1150px) {
    .sc-header h2 {
        display: none;
    }
    .sidepanel {
        width: 30%;
        margin-right: 0;
    }

    .home-template .content,
    .archive-template .content,
    .tag-template .content,
    .author-template .content {
        width: 60%;
        margin-left: 0;
    }

    .home-template .post,
    .archive-template .post,
    .tag-template .post,
    .author-template .post {
        width: 100%;
    }
}

@media only screen and (max-width: 660px) {
    .post-tags {
        padding-bottom: 20px;
    }

    /* full page post - start */
    .post-template .post {
        width: 100%;
        margin: 0 auto !important
    }

    .post-template .post-newsDate {
        left: 5px;
        top: 5px;
        font-size: 0.5em;
        border: none;
        width: auto;
    }

    .post-template .post-newsDate span {
        padding: 0;
    }

    .post-template .post-newsDate time {
        font-size: 14px;
    }
    /* full page post - end  */
}

@media only screen and (max-width: 550px) {
    .content .post-title {
        font-size: 3.2rem;
    }
}

/* small screen styles */
@media only screen and (max-width: 700px) {
    .sc-header {
        height: 45px;
    }

    .sc-header h1,
    .sc-header h2 {
        display: none;
        visibility: hidden;
    }

    .sc-header-right {
        float: left;
        font-size: 12px;
        margin: 5px 10px 0 15px;
        min-width: 280px;
    }

    .sc-header-right .top-menu-link {
        padding: 5px 0 10px 15px
    }

    .top-menu-link-sm-hide {
        display: none;
    }

    .top-menu-link-sm {
        display: inherit;
        font-size: 12px;
    }

    .sc-header-right a.top-menu-icon {
        float: left;
        padding: 5px 0 0 15px;
    }

    .sidepanel,
    .home-template .content,
    .archive-template .content,
    .tag-template .content,
    .author-template .content,
    .home-template .post,
    .tag-template .post,
    .archive-template .post,
    .author-template .post {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .home-template .post:first-child,
    .tag-template .post:first-child,
    .archive-template .post:first-child,
    .author-template .post:first-child {
        padding: 10px 0;
    }

    .home-template .post,
    .tag-template .post,
    .archive-template .post,
    .author-template .post {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .newer-posts,
    .older-posts {
        border: none;
        padding: 2px 15px;
    }

    .sidepanel {
        display: none;
    }
}
