html, body {
    padding: 0;
    margin: 0;
}

/*=Responsive Video CSS===================================================*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*========================================================================*/

body {
   background: url(../images/pattern.png) #f8f9fa repeat;
}

.sc-header {
    width: 100%;
    height: 65px;
    margin: 0;
    padding: 0;
    background: #F2620F;
}

.sc-header-right {
    float: right;
    margin: 15px 25px 0 0;
}

.sc-header a,
.sc-header h1,
.sc-header h2 {
    float: left;
    padding: 0;
    margin: 0;
}

.sc-header h1 {
    font-family: 'PT Sans', sans-serif;
    padding: 12px 15px 0 20px;
    font-size: 3.65rem;
    color: #fff;
    font-weight: 400;
}

.sc-header h2 {
    padding: 17px 0 0;
    font-size: 3.0rem;
    color: #e5e5e5;
    font-weight: 400;
}

.sc-header .logo img {
    width: 60px;
    height: 60px;
    margin: 10px 10px 0 30px;
}

.sc-header .top-menu-link,
.sc-header .top-menu-icon {
    color: #f5f5f5;
}

.sc-header .top-menu-link:hover,
.sc-header .top-menu-icon:hover {
    color: #e5e5e5;
}

.sc-header .top-menu-link {
    padding: 5px 10px;
    text-decoration: none;
}
.sc-header .top-menu-link:hover {
    text-decoration: underline;
}

.sc-header .top-menu-icon {
    padding: 2px 10px;
}

.sc-header .top-menu-icon:first-child {
    padding-left: 15px;
}

/* article list css */
.content article {
    padding: 0;
}

.content .post-title,
.content .post-meta,
.content .post-tags,
.content .post-content {
    margin: 4px 15px;
}

.content .post-excerpt {
    margin: 0 15px;
}

.content .post-title {
    padding: 0;
}

.tile-image {
    border-bottom: 1px solid #f5f5f5;
}

.tags-main-list {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: 1px solid #d8d8d8;
    margin: 15px 15px;
    padding: 5px;
    -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.3);
}

.tags-main-list .tags-item {
    display: inline-block;
    padding: 2px 7px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f5f5f5;
    text-transform: lowercase;
    margin: 3px;
    font-size: 90%;
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.tags-main-list .tags-item:hover {
    color: #f5f5f5;
    border: 1px solid #000;
    background: #999;
}

.home-template .content,
.archive-template .content,
.tag-template .content,
.author-template .content {
    display: inline-block;
    width: 70%;
}

.home-template .tile-image,
.tag-template .tile-image,
.archive-template .tile-image,
.author-template .tile-image {
    width: 100%;
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.section-heading {
    margin: 15px 0 0 20px;
    padding: 0;
    text-align: center;
    min-height: 55px;
}

.section-heading h2 {
    padding: 0;
    margin: 0;
}

.content .post-newsDate {
    background: #F2C029;
}

.content .post-excerpt a {
    text-decoration: none;
}

.content .post-title {
    width: 90%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 4.2rem;
}

/* give header smaller size on list */
.post-header-home-page .post-title {
    font-size: 3rem;
}

.content .post-tags {
    border-top: none;
    margin-bottom: 15px;
}

.post-tags a {
    text-decoration: none;
    margin: 2px 6px 2px 0;
    background: #fff;
    border: 1px solid #999;
    color: #999;
    border-radius: 5px;
    padding: 2px 5px;
    white-space: nowrap;
    display: inline-block;
    font-size: 10px;
    line-height: normal;
}

.post-tags a:hover {
    color: #000;
    border: 1px solid #000;
    background: #f5f5f5;
}

.site-footer .button-jump-top {
    bottom: 30px;
}

.site-footer .footer-menu {
    width: 100%;
    display: inline-block;
}

.site-footer {
    padding: 15px;
    text-align: left;
}

.site-footer .inner {
    width: 100%;
    display: block;
    max-width: 100%;
}

.site-footer .footer-menu-link,
.site-footer .footer-menu-icon {
    float: left;
}

.site-footer .footer-menu-link {
    padding: 0 4px;
}

.site-footer .footer-menu-icon {
    padding: 2px 10px;
}

.footer-tags {
    display: inline-block;
    width: 90%;
    padding: 4px;
}

.post-template .post-title,
.post-template .post-content {
    margin: 15px;
}

.post-footer {
    background: none;
}

.site-footer a.tags-item {
    padding: 2px 5px;
    margin: 2px 6px 2px 0;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    font-size: 10px;
    line-height: normal;
    text-decoration: none;
    border: 1px solid #BBC7CC;
    border-radius: 5px;
    word-spacing: 2px;
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.site-footer a.tags-item:hover {
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
